*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol,
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

span,
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

span {
  line-height: initial;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 3px;
}

header {
  background: #db4c3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  height: 44px;
}

.header-right,
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header-button {
  color: #fff;
  height: 28px;
  width: 28px;
  position: relative;
}

.tooltip {
  position: absolute;
  color: #fff;
  background-color: #444;
  padding: 8px;
  opacity: 0;
  pointer-events: none;
  white-space: break-spaces;
  visibility: hidden;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 2;
}

.header-button .tooltip {
  top: 128%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 44px);
  position: relative;
}

.isSidebarVisible {
  width: 305px;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

.isSidebarOverlayVisible {
  visibility: visible;
  opacity: 1;
}

aside {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 5px 18px 35px;
  visibility: hidden;
  position: absolute;
  left: 0;
  min-height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
aside .sidebar-button {
  gap: 10px;
  padding: 5px 0 5px 7px;
  background: #eeeeee;
  width: 100%;
  border-radius: 5px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
aside .sidebar-button svg {
  color: #246fe0;
}
aside:hover .add-project-button {
  visibility: visible;
}

.editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 38px 34px;
  width: 100vw;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.editor > h2 {
  font-size: 1.3rem;
  max-width: 100%;
  overflow-wrap: break-word;
  cursor: default;
  margin-bottom: 10px;
}
.editor .editor-add-task-plus-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17px;
  width: 17px;
  color: #db4c3f;
  border-radius: 50%;
}
.editor .editor-add-task-plus-icon > path {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.editor-add-task-button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: initial;
}
.editor-add-task-button:hover .editor-add-task-plus-icon > path {
  -webkit-transform: scale(0.85) translate(3.4px, 3.4px);
          transform: scale(0.85) translate(3.4px, 3.4px);
}
.editor-add-task-button:hover .editor-add-task-plus-icon {
  color: #fff;
  background-color: #db4c3f;
  border-radius: 50%;
}
.editor-add-task-button:hover .editor-add-task-text {
  color: #db4c3f;
}

.editor-add-task-text {
  color: #727272;
}

.empty-state-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  margin: 42px 0 0 0;
  gap: 8px;
}
.empty-state-container img {
  max-width: 220px;
}
.empty-state-container > p {
  font-size: 0.81rem;
  color: #727272;
  text-align: center;
}
.empty-state-container h4 {
  font-weight: 500;
}

.sidebar-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 12px 0 0;
  height: 36px;
}

.sidebar-projects-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding: 5px 0 5px 12px;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: bold;
  background-color: unset;
}

.add-project-button {
  width: 36px;
  height: 32px;
  border-radius: 5px;
  visibility: hidden;
  position: relative;
}
.add-project-button .tooltip {
  position: absolute;
  top: 32px;
  margin: 0 0 7px 0;
}
.add-project-button:hover {
  background: #eeeeee;
}

@media screen and (min-width: 768px) {
  header {
    padding: 10px 40px;
  }
  .tooltip {
    white-space: nowrap;
  }
  .isSidebarVisible {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .isSidebarOverlayVisible {
    visibility: hidden;
    opacity: 0;
  }
  aside {
    visibility: visible;
    width: 305px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .editor {
    -webkit-transform: translateX(305px);
            transform: translateX(305px);
    width: calc(100vw - 305px - 17px);
    padding: 38px 69px;
  }
  aside.isSidebarVisible + .editor {
    -webkit-transform: translateX(var(--sidebar-width));
            transform: translateX(var(--sidebar-width));
  }
  .header-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .add-project-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
}