*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol,
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 3px;
}

.header {
  background: #db4c3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
  height: 44px;
}

.header-right,
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header-button {
  color: #fff;
  height: 28px;
  width: 28px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 44px);
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  border: 1px solid red;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 5px 18px 35px;
}
aside .sidebar-button {
  gap: 10px;
  padding: 5px 0 5px 7px;
  background: #eeeeee;
  width: 100%;
  border-radius: 5px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
aside .sidebar-button svg {
  color: #246fe0;
}

.editor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 38px 69px;
}
.editor h2 {
  font-size: 1.3rem;
  max-width: 100%;
  overflow-wrap: break-word;
  cursor: default;
}
.editor .editor-add-task-plus-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17px;
  width: 17px;
  color: #db4c3f;
  border-radius: 50%;
}
.editor .editor-add-task-plus-icon:hover {
  color: #fff;
  background-color: #db4c3f;
}
.editor .editor-add-task-button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.editor .editor-add-task-button:hover {
  color: #db4c3f;
}

.editor-add-task-text {
  color: #727272;
}
.editor-add-task-text:hover {
  color: #db4c3f;
}

.editor-add-task-plus-icon > path {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.editor-add-task-button:hover .editor-add-task-plus-icon > path {
  -webkit-transform: scale(0.85) translate(3.4px, 3.4px);
          transform: scale(0.85) translate(3.4px, 3.4px);
}