*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol,
ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

span,
input,
button,
textarea,
select {
  font: inherit;
}

.modal-overlay {
  visibility: hidden;
  width: 0;
  height: 0;
}
.modal-overlay.visible {
  position: absolute;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.add-task-modal,
.add-project-modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  border-radius: 10px;
  padding: 16px;
  -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  z-index: 3;
}
.add-task-modal.visible,
.add-project-modal.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#add-task-form,
#add-project-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
#add-task-form button,
#add-project-form button {
  line-height: initial;
}
#add-task-form .btn-danger:disabled,
#add-project-form .btn-danger:disabled {
  pointer-events: initial;
  cursor: not-allowed;
}

.cancel-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 11px;
}
.cancel-submit-container > button {
  height: 33px;
  padding: 0 12px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  text-align: center;
}

.cancel-button {
  border: 1px solid #ddd;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}
.cancel-button:hover {
  border: 1px solid #aaa;
  background-color: #f3f3f3;
}

.add-task-modal {
  max-width: 550px;
}

.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.form-inputs > input {
  word-break: break-word;
  overflow: hidden;
}
.form-inputs > input[name=task_name] {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.form-inputs > input[name=description] {
  font-size: 13px;
}

.due-date-picker,
.project-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  color: #555;
  height: 28px;
  padding: 0 8px;
  border-radius: 5px;
}

.extra-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.add-project-modal {
  max-width: 410px;
}

#add-project-form > div {
  padding: 12px;
}

.add-project-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.add-project-modal-header h4 {
  font-size: initial;
  font-weight: 600;
}

.add-project-modal-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.add-project-modal-main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}
.add-project-modal-main label {
  font-weight: 500;
}
.add-project-modal-main input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 28px;
  font-size: 0.9rem;
}
.add-project-modal-main input:focus {
  outline: 1px solid #202020;
}

.add-project-modal #add-project-form .cancel-submit-container {
  border-top: 1px solid #ddd;
  padding-bottom: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin-bottom: 0;
}

input,
select {
  border: none;
  outline: none;
  font-size: 14px;
}

span {
  line-height: initial;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.2);
}

header {
  background: #db4c3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  height: 44px;
}

.header-right,
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header-button {
  color: #fff;
  height: 28px;
  width: 28px;
  position: relative;
}
.header-button:hover {
  border-radius: 3px;
}

.tooltip {
  position: absolute;
  color: #fff;
  background-color: #444;
  padding: 8px;
  opacity: 0;
  pointer-events: none;
  white-space: break-spaces;
  visibility: hidden;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  z-index: 2;
}

.header-button .tooltip {
  top: 128%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 44px);
  position: relative;
}

.sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
}
.sidebar-overlay.visible {
  visibility: visible;
  opacity: 1;
}

aside {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 5px 0px 35px;
  gap: 10px;
  visibility: hidden;
  position: absolute;
  left: 0;
  min-height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
aside.visible {
  width: 305px;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
aside .sidebar-button {
  gap: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
aside .sidebar-button:hover {
  background: #eeeeee;
}
aside .sidebar-button svg.sidebar-inbox-icon {
  color: #246fe0;
}
aside:hover .add-project-button {
  visibility: visible;
}

.editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 38px 34px;
  width: 100vw;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.editor > h2 {
  font-size: 1.3rem;
  max-width: 100%;
  overflow-wrap: break-word;
  cursor: default;
  margin-bottom: 10px;
}
.editor .editor-add-task-plus-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17px;
  width: 17px;
  color: #db4c3f;
  border-radius: 50%;
}
.editor .editor-add-task-plus-icon > path {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
.editor .empty-state-heading {
  font-size: 16px;
}

.editor-add-task-button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.editor-add-task-button:hover .editor-add-task-plus-icon > path {
  -webkit-transform: scale(0.85) translate(3.4px, 3.4px);
          transform: scale(0.85) translate(3.4px, 3.4px);
}
.editor-add-task-button:hover .editor-add-task-plus-icon {
  color: #fff;
  background-color: #db4c3f;
  border-radius: 50%;
}
.editor-add-task-button:hover .editor-add-task-text {
  color: #db4c3f;
}

.editor-add-task-text {
  color: #727272;
}

.empty-state-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  margin: 42px 0 0 0;
  gap: 12px;
}
.empty-state-container img {
  max-width: 220px;
}
.empty-state-container > p {
  font-size: 0.81rem;
  color: #727272;
  text-align: center;
}
.empty-state-container h4 {
  font-weight: 500;
}

.sidebar-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 12px 0 0;
  height: 36px;
}

.sidebar-projects-arrow-icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.sidebar-projects-arrow-icon.expanded {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sidebar-projects-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding: 5px 0 5px 12px;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: bold;
  background-color: unset;
}

.add-project-button {
  width: 36px;
  height: 32px;
  border-radius: 5px;
  visibility: hidden;
  position: relative;
}
.add-project-button .tooltip {
  position: absolute;
  top: 32px;
  margin: 0 0 7px 0;
}
.add-project-button:hover {
  background: #eeeeee;
}

.projects-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: 100%;
  height: 0px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  overflow-x: hidden;
  overflow-y: hidden;
}
.projects-list-container.expanded {
  visibility: visible;
  height: 100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
#projects-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#projects-list > li button {
  gap: 15px;
  padding-right: 15px;
  height: 34px;
}
#projects-list > li button.selected {
  background-color: #eeeeee;
}
#projects-list > li button:hover .delete-project-icon {
  visibility: visible;
}

.project-name {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.project-icon path {
  color: rgb(128, 128, 128);
}

.delete-project-icon {
  width: 30px;
  height: 24px;
  color: #808080;
  opacity: 1;
  visibility: hidden;
}
.delete-project-icon:hover {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #202020;
}

@media screen and (min-width: 768px) {
  body {
    position: relative;
  }
  header {
    padding: 10px 40px;
  }
  .tooltip {
    white-space: nowrap;
  }
  aside.visible {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .sidebar-overlay.visible {
    visibility: hidden;
    opacity: 0;
  }
  aside {
    visibility: visible;
    width: 305px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .editor {
    -webkit-transform: translateX(305px);
            transform: translateX(305px);
    width: calc(100% - 305px - 17px);
    padding: 38px 69px;
  }
  aside.visible + .editor {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  .header-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  .modal-overlay.visible {
    top: 0;
  }
  .add-project-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
}