@import "./variables.scss";

// General rules for modal windows

.modal-overlay {
  visibility: hidden;
  width: 0;
  height: 0;
  &.visible {
    position: absolute;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
}

.add-task-modal,
.add-project-modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  background-color: $modal-bg;
  transform: scale(0.6);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
  z-index: 3;
  &.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

#add-task-form,
#add-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  & button {
    line-height: initial;
  }
}

.cancel-submit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
  & > button {
    height: 33px;
    padding: 0 12px;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
    text-align: center;
  }
}

.cancel-button {
  border: 1px solid $add-project-modal-gray;
  transition: border 0.3s ease;
  &:hover {
    border: 1px solid #aaa;
    background-color: #f3f3f3;
  }
}

// "Add task" modal window rules

.add-task-modal {
  max-width: 550px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  & > input {
    word-break: break-word;
    overflow: hidden;
  }
  & > input[name="task_name"] {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  & > input[name="description"] {
    font-size: 13px;
  }
}

.due-date-picker,
.project-selector {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  color: #555;
  height: 28px;
  padding: 0 8px;
  border-radius: 5px;
}

.extra-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  & > div:first-child {
    display: flex;
    gap: 8px;
  }
}

.dropdown {
  height: 24px;
  border-radius: 5px;
  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.35s;
    right: -35px;
    top: 26px;
  }
  &:hover {
    background-color: #eee;
  }
  & button {
    background-color: unset;
    border: none;
    padding: 0;
    &:hover {
      background-color: unset;
    }
  }
  & svg {
    background-color: unset;
    color: #555;
    border-radius: 5px;
    width: 24px;
    height: 24px;
  }
}

.dropdown-menu {
  font-size: 0.9rem;
  left: -70px;
  width: 200px;
  & svg {
    margin-right: 5px;
  }
}

.dropdown-item {
  border-radius: 10px;
  &:active {
    background-color: #eee;
    color: var(--bs-dropdown-link-color);
  }
}

[data-priority="1"] path {
  fill: $priority-1-color;
}

[data-priority="2"] path {
  fill: $priority-2-color;
}

[data-priority="3"] path {
  fill: $priority-3-color;
}

.show {
  display: block;
}

// "Add project" modal window rules

.add-project-modal {
  max-width: 410px;
}

#add-project-form > div {
  padding: 12px;
}

.add-project-modal-header {
  display: flex;
  border-bottom: 1px solid $add-project-modal-gray;
  & h4 {
    font-size: initial;
    font-weight: 600;
  }
}

.add-project-modal-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  & label {
    font-weight: 500;
  }
  & input {
    padding: 5px;
    border: 1px solid $add-project-modal-gray;
    border-radius: 5px;
    width: 100%;
    height: 28px;
    font-size: 0.9rem;
    &:focus {
      outline: 1px solid $form-cancel-fg;
    }
  }
}

.add-project-modal #add-project-form {
  & .cancel-submit-container {
    border-top: 1px solid $add-project-modal-gray;
    padding-bottom: 0px;
  }
}
