@import "./base";

// Variables

$header-height: 44px;
$gray: #727272;
$accent-color: #db4c3f;

// Main part

body {
  font-family: "Roboto", sans-serif;
}

// svg {
//   display: block;
// }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
}

.header {
  background: #db4c3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  height: 44px;
}

.header-right,
.header-left {
  display: flex;
  gap: 12px;
}

.header-button {
  color: #fff;
  height: 28px;
  width: 28px;
}

main {
  display: flex;
  height: calc(100vh - $header-height);
}

aside {
  flex: 1 1 20%;
  border: 1px solid red;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 30px 5px 18px 35px;
  & .sidebar-button {
    gap: 10px;
    padding: 5px 0 5px 7px;
    background: #eeeeee;
    width: 100%;
    border-radius: 5px;
    justify-content: left;
    & svg {
      color: #246fe0;
    }
  }
}

.editor {
  flex: 0 1 80%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 38px 69px;
  & h2 {
    font-size: 1.3rem;
    max-width: 100%;
    overflow-wrap: break-word;
    cursor: default;
  }
  & .editor-add-task-plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    color: $accent-color;
    border-radius: 50%;
    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }
  & .editor-add-task-button {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    &:hover {
      color: $accent-color;
    }
  }
}

.editor-add-task-text {
  color: $gray;
  &:hover {
    color: $accent-color;
  }
}

.editor-add-task-plus-icon > path {
  transform: translate(2px, 2px);
}

.editor-add-task-button:hover .editor-add-task-plus-icon > path {
  transform: scale(0.85) translate(3.4px, 3.4px);
}

