// Variables

$header-height: 44px;
$gray: #727272;
$accent-color: #db4c3f;
$sidebar-width: 305px;
$sidebar-toggle-transition-time: 0.2s;
$form-cancel-fg: #202020;
$sidebar-button-hover-bg: #eeeeee;
$header-icon-color: #fff;
$tooltip-color: #fff;
$modal-bg: #fff;
$add-project-modal-gray: #ddd;
