// Variables

$header-height: 44px;
$gray: #727272;
$black: #000;
$accent-color: #db4c3f;
$sidebar-width: 305px;
$sidebar-toggle-transition-time: 0.2s;
$form-cancel-fg: #202020;
$sidebar-button-hover-bg: #eeeeee;
$header-icon-color: #fff;
$tooltip-color: #fff;
$modal-bg: #fff;
$add-project-modal-gray: #ddd;
$priority-1-color: #d1453b;
$priority-2-color: #eb8909;
$priority-3-color: #246fe0;
$priority-1-bg: #fbeceb;
$priority-2-bg: #fdf3e5;
$priority-3-bg: #e8f0fc;
